<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<div>
			<%= yield %>
		</div>
		<br /><br />
		<a href='/'>Home</a> - <a href='/lists'>My Lists</a> - <a href='/list/new'>Add New List</a>
	</body>
</html>
