<h1>Tasks for <%= @list.name %></h1>
<ul>
  <% @tasks.each do |task| %>
  <li><%= task.description %>; Due on: <%= task.due_date %> </li>
  <% end %>
</ul>

<h3>Add a New Task</h3>
<form action='/list/<%= @list.id() %>' method='post'>
  Description
  <input id='description' name='description' type='text'>
  <input id='due_date' name='due_date' type='date'>
  <button type='submit'>Add Task</button>
</form>
